body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #26a69a;
    margin: 1rem 0 1.68rem 0;
}

#transactionForm {
    margin-top: 10px;
}

#transactionForm label {
    font-size: 1rem;
}

#transactionForm label i {
    position: relative;
    font-size: 2rem;
    bottom: -8px;
    color: #26a69a;
    
}

#transactionForm #transactionDate {
    margin-top: 10px;
}

.formClass {
    text-align: center;
}

.formClass span {
    font-weight: bold;
    display: block;
}

#addButton {
    font-size: 23px;
    margin-top: 20px;
    transition: all 500ms ease; 
}

#addButton:hover {
    color: #26a69a;
    border: #26a69a solid 1px;
    background:#fff;
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* .tableFormat td, .tableFormat th {
    text-align: center;
    border: solid black 1px;
} */

.tableFormat table {
    margin: 10px auto;
}

.tableFormat caption {
    font-weight: bold;
}

@media (min-width: 400px) {
    h1 {
        font-size: 1.9rem;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 3.2rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 4.2rem;
    }
}